<div class="container">
  <h1>Editar Email</h1>
  <p>
    Por favor, complete la información solicitada para poder editar el email.
  </p>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="formVisible">
    <input type="hidden" formControlName="id" />
    <div>
      <span>Email (obligatorio)</span>
      <p style="margin-top: 1rem">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Escribir aquí..." formControlName="email" required />
        </mat-form-field>
      </p>
    </div>
    <div style="margin-top: 1rem">
      <span>Origen (obligatorio)</span>
      <p style="margin-top: 1rem">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Seleccionar Origen</mat-label>
          <mat-select formControlName="origen_id" required>
            <mat-option value="1">JDE</mat-option>
            <mat-option value="2">Acopio</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>

    <div style="margin-top: 1rem">
      <section>
        <div class="example-button-row" style="text-align: right">
          <button mat-raised-button color="primary">Guardar</button>
        </div>
      </section>
    </div>
  </form>

  <p></p>
</div>
