<div >
  <h2>Admin emails</h2>
</div>

<div>
  <input type="search" name="search" /><br><br>
  <button mat-flat-button color="primary" >Añadir</button>
</div>

<table mat-table [dataSource]="emails" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> fecha de creación </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="origen">
    <th mat-header-cell *matHeaderCellDef> origen </th>
    <td mat-cell *matCellDef="let element"> {{element.origen_id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>