<div style="margin-top: 0.2rem">
  <section>
    <div style="text-align: right">
      <button class="icon_btn" [mat-dialog-close]="false">
        <mat-icon matSuffix >close</mat-icon>
      </button>
    </div>
  </section>
</div>

<h1>Confirmar eliminación</h1>
<div>
  Si elimina los datos seleccionados esta acción no podrá deshacerse.
  ¿Continuar?
</div>

<div style="margin-top: 1rem">
  <section>
    <div class="example-button-row" style="text-align: right">
      <button mat-button [mat-dialog-close]="true" class="boton">Eliminar</button>
    </div>
  </section>
</div>